.topbar{
    width: 100%;
    height: 50px;
    background: white;
    position: sticky;
    top: 0px;


    /* to be on every pages's top */
    z-index: 999;


}
.topbarWrapper{
    height: 50px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo>img{
    width: 3rem;
    height: 3rem;
   
    cursor: pointer;

}
.topRight{
    
    display: flex;
    align-items: center;

}

.topbarIconContainer{
    padding: 10px ;
    display: flex;
    position: relative;
    
    cursor: pointer;
    margin-right: 10px;
    

    
}

.iconBadge{
    width: 15px;
    height: 15px;
    top: 5px;
    position: absolute;
    right: 0px;
    background: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    


}

.profile>img{
width: 4rem;
height: 2rem;
cursor: pointer;
}



.buttonAction{
    width: 250px;
    cursor: pointer;
    position: relative;
    background:#2A85FF;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-right: 50px;
    border-radius: 10px;
    /* box-shadow: 7px 7px 18px 0px rgba(0,0,0,0.75); */
    /* -webkit-box-shadow: 7px 7px 18px 0px rgba(0,0,0,0.75); */
    /* -moz-box-shadow: 7px 7px 18px 0px rgba(0,0,0,0.75); */
    color: white;

}

